* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#box {
	background-color: orange;
	border: 1px solid black; /* borderset the border withd, style 
	and color in one  line of code*/
	padding: 50px; /*will add padding on all of the side of our div*/
	/*padding-top
	padding-bottom
	padding-right
	padding-left*/

	height: 150px;
	width: 150px
}